<p>
  {{title}}
</p>

<form ngForm #assignmentsForm>
  <button mat-stroked-button
      [disabled] = "enabled"
      color="primary">Add Assignment</button>
</form>

<!-- <div *ngFor="let assignment of assignments"
  [ngStyle] = " {'color' : assignment.submitted == true ? 'green' : 'red'} "
> -->

<!-- <div *ngFor="let assignment of assignments"
  [ngClass] = "{
    'submitted' : assignment.submitted === true,
    'unSubmitted' : assignment.submitted === false
  }"
> -->

<div *ngFor="let assignment of assignments">
  <p appSubmitted *ngIf="assignment.submitted; else unSubmitted">
    Assignment {{assignment.name}} has been submitted.
  </p>
  <ng-template #unSubmitted>Assignment {{assignment.name}} has NOT been submitted.</ng-template>
</div>