<p>
  {{title}}
</p>

<!-- <div *ngFor="let assignment of assignments"
  [ngStyle] = " {'color' : assignment.submitted == true ? 'green' : 'red'} "
> -->

<!-- <div *ngFor="let assignment of assignments"
  [ngClass] = "{
    'submitted' : assignment.submitted === true,
    'unSubmitted' : assignment.submitted === false
  }"
> -->

<div *ngFor="let assignment of assignments">
  <p appSubmitted *ngIf="assignment.submitted; else unSubmitted">
    Assignment {{assignment.name}} has been submitted.
  </p>
  <p appUnSubmitted> lemme ceck </p>
  <ng-template #unSubmitted appUnSubmitted>Assignment {{assignment.name}} has NOT been submitted.</ng-template>
</div>