<p>
  {{title}}
</p>

<form ngForm #assignmentsForm class="form">
  <mat-form-field>
    <input matInput #assignmentName [(ngModel)] = 'name' name="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput 
          [matDatepicker] = "picker" 
          [(ngModel)] = "dueDate" 
          name = "dueDate" 
          placeholder="When is your assignment due?">
     <mat-datepicker-toggle matSuffix
                            [for]="picker"></mat-datepicker-toggle>     
      <mat-datepicker #picker></mat-datepicker>                      
  </mat-form-field>

  <button mat-stroked-button
      [disabled] = "enabled"
      (click) = "onSubmit(); assignmentsForm.reset();"
      color="primary">Add Assignment</button>
</form>

<p>{{name}}</p>
<p>{{dueDate}}</p>
  <app-assignment-detail [passedAssignment] = "selectedAssignment"></app-assignment-detail>
<!-- <div *ngFor="let assignment of assignments"
  [ngStyle] = " {'color' : assignment.submitted == true ? 'green' : 'red'} "
> -->

<!-- <div *ngFor="let assignment of assignments"
  [ngClass] = "{
    'submitted' : assignment.submitted === true,
    'unSubmitted' : assignment.submitted === false
  }"
> -->

<mat-list *ngFor="let assignment of assignments">
  <h3 mat-subheader>{{assignment.dueDate | date}}</h3>
  <mat-list-item (click) = "setSelected(assignment)">
      <p appSubmitted *ngIf="assignment.submitted; else unSubmitted">
          Assignment {{assignment.name}} has been submitted.
      </p>
      <ng-template #unSubmitted>Assignment {{assignment.name}} has NOT been submitted.</ng-template>
      <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>